<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <button id="openModal">Open Modal</button>
    <div id="modal">
        <div id="modalContent">
            <button id="closeModal">&times;</button>
            <span>This is a simple modal pop up.</span>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>